
[submodule "Addons/Shared Utils"]
	path = Addons/Shared Utils
	url = https://github.com/NeqsTech/nightfall-shared-utils
[submodule "Addons/Servers Utils"]
	path = Addons/Servers Utils
	url = https://github.com/NeqsTech/nightfall-servers-utils
[submodule "Addons/Clients Utils"]
	path = Addons/Clients Utils
	url = https://github.com/NeqsTech/nightfall-clients-utils
